@charset "utf-8";

#box{
  animation-name:boxRotate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  width:360px;
  height:360px;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -180px;
}
#box>div{
  width: 180px;
  height: 180px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -90px;
}
#box>div>div{
  float:left;
  box-sizing: border-box;
  width:56px;
  height:56px;
  border-radius:5px;
  margin:2px;
}
.font {
  transform: translateZ(90px);
}
.font>div{
  background-color: rgba(255, 0, 0, 0.9);
}
.back {
  transform: rotateX(180deg) translateZ(90px);
}
.back>div{
  background-color: rgba(255, 160, 0, 0.9);
}
.left {

  transform: rotateY(-90deg) translateZ(90px);
}
.left>div{
  background-color: rgba(0, 128, 250, 0.9);
}
.right {
  transform: rotateY(90deg)  translateZ(90px);
}
.right>div{
  background-color: rgba(0, 250, 72, 0.9);
}
.top {
  transform: rotateX(90deg)  translateZ(90px);
}
.top>div{
  background-color: rgba(255, 255, 0, 0.9);
}
.bottom {
  transform: rotateX(-90deg)  translateZ(90px);
}
.bottom>div{
  background-color: rgba(165, 165, 165, 0.9);
}
@keyframes boxRotate{
  from,to{}
  16%{transform:rotateY(90deg);}
  33%{transform:rotateY(-90deg) rotateZ(135deg);}
  50%{transform:rotateY(225deg) rotateZ(135deg);}
  66%{transform:rotateY(135deg) rotateX(135deg);}
  83%{transform:rotateX(135deg);}
}